.container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 10px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
  }

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}
